사용할 패키지와 데이터를 로드합니다.

In [11]:
import seaborn as sns 
import pandas as pd 
import numpy as np 

df = pd.read_csv('./train.csv')
df

나이 컬럼에 해당되는 값을 평균값으로 대체하세요 (Q1)

In [13]:
print("**변경 전**") 
print(df['Age'].head(10)) 

mean_age = ? # age에 해당되는 컬럼의 평균 값을 계산
df['Age’].? # 계산된 값으로 대체
   
print('\n’) 
print("**변경 후**") 
print(df['Age'].head(10))

**변경 전**
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64


**변경 후**
0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: age, dtype: float64

embark_town 컬럼의 결측값을 최빈값으로 대체합니다 (Q2)
* 해당 컬럼은 3개의 범주를 가진 범주형 변수로 2개의 결측치가 있는 컬럼
* 결측치가 어디에 있는지 확인합니다

In [2]:
df['Embarked'].value_counts()
df.index[df['Embarked'].isnull()]

NameError: name 'df' is not defined

2개의 결측치를 세가지 범주형 중 최빈값으로 대체하는 방법
* Describe() 함수는 데이터프레임 전체에 대해 적용하면 문자열/숫자형의 개별 통계를 제공하지 않음
* Idxmax() 함수는 데이터프레임의 특정열에 대해여 가장 큰 row의 index를 반환
* Value_counts 함수로 고유값의 갯수를 구하고, 최대값을 가지는 인덱스 (범주명)을 불러서 사용

In [3]:
most_freq = df['Embarked'].?
df['Embarked'].?

print(df.loc[61])
print('\n')
print(df.loc[829])

SyntaxError: EOL while scanning string literal (<ipython-input-3-56344d22c4d7>, line 1)

이웃하고 있는 값으로 대체하는 방법
* method = 'ffill'은 결측값(NaN)의 바로 앞의 값으로
* method = 'bfill'은 결측값(NaN)의 바로 뒤의 값으로 바꿔주는 옵션

In [ ]:
print("** 치환 전**")
print(df['Embarked'][825:830])
print('\n')

df['Embarked'].fillna(?, inplace = True)

print("** 치환 후**")
print(df['Embarked'][825:830])